<div class="flex flex-col md:flex-row w-full lg:w-11/12 rounded-lg shadow-lg md:my-8 px-6">
  {% if include.image %}
    <div class="mb-2 md:mr-4 md:mb-0 md:w-4/12 ">
      <a class="bg-gray-100" href="{{ include.url }}">
        <img class="object-contain pb-8 xl:pb-0 md:h-80 rounded 2xl:mb-3 hover:opacity-70 transition duration-300 ease-in-out" alt="{{ include.title }}" src="{{ include.image }}"/></a>
    </div>
  {% endif %}
  <div class="flex-1">
    <a href="{{ include.url }}" class="text-2xl text-stone-800 font-bold mb-1 hover:text-stone-600">
      <h2 class="">{{ include.title }}</h2>
    </a>
   {% include date-readtime.html date=include.date content=include.content align=include.align %}
    <p class="text-xl text-stone-700 mb-4">{{ include.excerpt }}</p>
    {% if include.tags %}
      <div class="mb-2">
        {% for tag in include.tags %}
          <a class="p-1 px-3 mr-1 mb-1 inline-block text-xs font-codepro rounded bg-stone-300 text-stone-800 hover:bg-sky-200 hover:text-sky-800 transition duration-300 ease-in-out" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
