<div class="pt-6 md:pt-12 lg:w-10/12 mx-auto">
    <h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-bold md:leading-tight">
      {{ include.title }}
    </h1>
  {% if include.date %}
    <div class="flex justify-center text-center font-medium text-gray-500 mt-2">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
      </svg>
      <span class="ml-2">{{ include.date | date: "%d-%m-%Y" }}</span>
    </div>
  {% endif %}
  {% if include.description %}
    <h2 class="text-xl text-gray-700 mt-2 md:text-center">{{ include.description }}</h2>
  {% endif %}
</div>
