<!DOCTYPE html>
<html lang="{{ site.language | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html title=page.title description=page.description date=page.date %}
      {{content}}
      {% include footer.html %}
    </div>
  </body>
</html>
