---
layout: default
---

<!-- Title + Date + Main Image -->
<div class="flex flex-col pt-6 md:pt-12 lg:w-11/12 mx-auto">
    <h1 class="text-center text-stone-800 text-3xl md:text-4xl lg:text-5xl font-bold md:mb-2">
      {{ page.title }}
    </h1>
  {% include date-readtime.html date=page.date content=page.content align="center" %}
  {% if page.image %}
    <img class="object-contain h-80 md:h-112 md:mb-8 md:mt-6 lg:mx-4 xl:mx-8 2xl:mx-16" src="{{ page.image }}">
  {% endif %}
</div>

<!-- Post Content -->
<div class="flex justify-center">
  <div class="w-full prose prose-base prose-a:text-sky-800 prose-p:text-stone-800 md:prose-lg lg:prose-2xl">
    {{ content }}
  </div>
</div>

